In [1]:
import pandas as pd

df = pd.read_csv('sample_data_intw.csv')

In [2]:
df.describe()

,Unnamed: 0,label,aon,daily_decr30,daily_decr90,rental30,rental90,last_rech_date_ma,last_rech_date_da,last_rech_amt_ma,...,cnt_loans30,amnt_loans30,maxamnt_loans30,medianamnt_loans30,cnt_loans90,amnt_loans90,maxamnt_loans90,medianamnt_loans90,payback30,payback90
count,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,...,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000,209593.000000
mean,104797.000000,0.875177,8112.343445,5381.402289,6082.515068,2692.581910,3483.406534,3755.847800,3712.202921,2064.452797,...,2.758981,17.952021,274.658747,0.054029,18.520919,23.645398,6.703134,0.046077,3.398826,4.321485
std,60504.431823,0.330519,75696.082531,9220.623400,10918.812767,4308.586781,5770.461279,53905.892230,53374.833430,2370.786034,...,2.554502,17.379741,4245.264648,0.218039,224.797423,26.469861,2.103864,0.200692,8.813729,10.308108
min,1.000000,0.000000,-48.000000,-93.012667,-93.012667,-23737.140000,-24720.580000,-29.000000,-29.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,52399.000000,1.000000,246.000000,42.440000,42.692000,280.420000,300.260000,1.000000,0.000000,770.000000,...,1.000000,6.000000,6.000000,0.000000,1.000000,6.000000,6.000000,0.000000,0.000000,0.000000
50%,104797.000000,1.000000,527.000000,1469.175667,1500.000000,1083.570000,1334.000000,3.000000,0.000000,1539.000000,...,2.000000,12.000000,6.000000,0.000000,2.000000,12.000000,6.000000,0.000000,0.000000,1.666667
75%,157195.000000,1.000000,982.000000,7244.000000,7802.790000,3356.940000,4201.790000,7.000000,0.000000,2309.000000,...,4.000000,24.000000,6.000000,0.000000,5.000000,30.000000,6.000000,0.000000,3.750000,4.500000
max,209593.000000,1.000000,999860.755168,265926.000000,320630.000000,198926.110000,200148.110000,998650.377733,999171.809410,55000.000000,...,50.000000,306.000000,99864.560864,3.000000,4997.517944,438.000000,12.000000,3.000000,171.500000,171.500000

In [7]:
rows = df.iloc[5:10]
print(rows)

   Unnamed: 0  label       msisdn     aon  daily_decr30  daily_decr90  \
5           6      1  35819I70783   568.0   2257.362667   2261.460000
6           7      1  96759I84459   545.0   2876.641667   2883.970000
7           8      1  09832I90846   768.0  12905.000000  17804.150000
8           9      1  59772I84450  1191.0     90.695000     90.695000
9          10      1  56331I70783   536.0     29.357333     29.357333

   rental30  rental90  last_rech_date_ma  last_rech_date_da  ...  \
5    368.13    380.13                2.0                0.0  ...
6    335.75    402.90               13.0                0.0  ...
7    900.35   2549.11                4.0               55.0  ...
8   2287.50   2287.50                1.0                0.0  ...
9    612.96    612.96               11.0                0.0  ...

   maxamnt_loans30  medianamnt_loans30  cnt_loans90  amnt_loans90  \
5              6.0                 0.0          3.0            18
6              6.0                 0.0          1.0             6
7              6.0                 0.0          7.0            42
8              6.0                 0.0          4.0            24
9              6.0                 0.0          1.0             6

   maxamnt_loans90  medianamnt_loans90  payback30  payback90  pcircle  \
5                6                 0.0  11.000000   8.333333      UPW
6                6                 0.0   0.000000   0.000000      UPW
7                6                 0.0   6.000000   3.857143      UPW
8                6                 0.0   2.666667   2.666667      UPW
9                6                 0.0   0.000000   0.000000      UPW

        pdate
5  2016-07-02
6  2016-07-05
7  2016-08-05
8  2016-06-15
9  2016-06-08

[5 rows x 37 columns]

In [10]:
type(rows)

pandas.core.frame.DataFrame

In [14]:
filt_rows = df[df['aon']<=200]
#print(df[filt_rows])
'''
flag = []
for i in df['aon']:
    if i < 200:
        flag[i] = True
    else:
        flag[i] = False
print(flag)
'''

ValueError: Must pass DataFrame with boolean values only

In [15]:
Name = 'My Name is Trilok Chittala'

In [19]:
set(Name)

{'T', 'i', 'k', 'l', 'o', 'r'}